
.st1{fill:#654039;stroke:#1F2223;}
.st2{fill:#D66D46;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st3{fill:#E7AEC1;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st4{fill:#556CAF;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st5{fill:#994B3E;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st6{fill:#693D56;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st7{fill:#B8AD97;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st8{fill:#B3545E;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st9{fill:#7EBA77;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st10{fill:#463F55;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st11{fill:#6F9FD7;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st12{fill:#3C6042;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st13{fill:#947659;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st14{fill:#397166;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st15{fill:#F5EC54;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st16{fill:#956EAB;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st17{fill:#FFF179;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st18{fill:#202323;}
.st19{font-family:'Arhitype';}
.st20{font-size:15.557px;}
.st21{fill:#E49A78;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st22{fill:#BB8041;stroke:#1F2223;stroke-width:2;stroke-miterlimit:10;}
.st23{fill-rule:evenodd;clip-rule:evenodd;fill:#557171;}
.st24{fill-rule:evenodd;clip-rule:evenodd;fill:#202323;}
.st25{fill:#FFFFFF;}
.st26{fill:#BE6055;stroke:#1F2223;stroke-miterlimit:10;}

.st2:hover {
  fill: #ace63c; 
}
.st3:hover {
  fill: #ace63c; 
}
.st4:hover {
  fill: #ace63c; 
}
.st5:hover {
  fill: #ace63c; 
}
.st6:hover {
  fill: #ace63c; 
}
.st7:hover {
  fill: #ace63c; 
}
.st8:hover {
  fill: #ace63c; 
}
.st9:hover {
  fill: #ace63c; 
}
.st10:hover {
  fill: #ace63c; 
}
.st11:hover {
  fill: #ace63c; 
}
.st12:hover {
  fill: #ace63c; 
}
.st13:hover {
  fill: #ace63c; 
}
.st14:hover {
  fill: #ace63c; 
}
.st15:hover {
  fill: #ace63c; 
}
.st16:hover {
  fill: #ace63c; 
}
.st17:hover {
  fill: #ace63c; 
}
.st18:hover {
  fill: #ace63c; 
}
.st21:hover {
  fill: #ace63c; 
}
.st22:hover {
  fill: #ace63c; 
}
.st26:hover {
  fill: #ace63c; 
}





